<div class="flex flex-col items-center mt-20">
  <h1 class="font-bold text-5xl mb-2">Short links, big impact</h1>
  <p class="text-center font-medium text-xl max-w-md mb-4">Turn your long URLs into bite-sized, trackable cuties you'll actually want to share.</p>
  <%= link_to "Get Started", new_user_session_path, class: "bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 rounded-full font-medium transition-colors" %>
</div>
