<%= form_with model: link, data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } do |form| %>
    <div class="grid gap-1">
        <%= form.label :url, class: "ml-3 font-medium text-sm" %>

        <div class="flex gap-1 items-center">
            <%= form.text_field :url, placeholder: "https://www.example.com", autofocus: true, required: true, class: "border border-gray-100 rounded-l-full py-1 px-3 text-sm flex-grow focus:outline-none focus:ring focus:ring-inset focus:ring-indigo-500" %>
            <%= form.submit "Shorten link", class: "text-sm px-3 py-1 bg-indigo-600 text-white rounded-r-full font-medium cursor-pointer " %>
        </div> 
    </div>
<% end %>